/* General Styles */
body {
    font-family: "sarvatrik-latin-variable", sans-serif;
    font-variation-settings: "wght" 100;
    margin: 0;
    padding: 0;
    /* background-color: #e0f7fa; */
    color: #333;
    text-align: center;
    min-height: 100vh;
}

body::before
{
    content: "";
    background-image: url('../img/backgroundimage4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
}



header {
    /* background-color: #6ba3d6; */
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
    padding-top: 50px;
    width: 100%;
    top: 0;
}
  

h1 {
    font-size: 4em;
    margin: 0;
    font-family: "podium-soft-variable",sans-serif;
    font-variation-settings: 'wdth' 100;
    font-weight: 100;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 800;
}


h3 {
    font-size: 1.5em;
    margin: 0;
    font-weight: 600;
}

p {
    font-size: 1.1em;
    margin: 10px 0;
    font-weight: 600;
}

header p {
    font-size: 1.2em;
    margin: 10px 0;
}

.welcome-container {
    margin: 20px auto;
    width: 70%;
}

.map-container {
    margin: 20px auto;
    width: 80%;
}

#map {
    height: 500px;
    width: 100%;
}

#location h2 {
    font-size: 3em;
    font-weight: 900;
    padding-top: 500px;
    padding-bottom: 50px;
}

.info-container {
    margin: 20px auto;
    width: 80%;
}

.nameLastseenDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.animalName {
    flex: 1;
    font-size: 1.5em;
    font-weight: bold;
}

.lastseen {
    flex: 1;
    font-size: 1.5em;
    font-weight: bold;
}

.imgDescDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.animalImage {
    flex: 1;
}

.animalDesc {
    flex: 1;
    text-align: center;
    padding-left: 5%;
    font-size: 2vh;
}


.animal-info {
    background-color: #FFF;
    display: inline-block;
    width: 76%;
    margin: auto;
    padding: 2%;
    margin-bottom: 3%;
}

/* Weather Styles */

.weatherInfoDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherGifDiv {
    flex: 1;
}

.weatherGifImg {
    width: 100%;
}

.weatherChart {
    flex: 1;
}

footer {
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
    bottom: 0;
}

.animalImage {
    width: 200px;
    object-fit: cover;
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
    }

    header {
        padding: 20px;
    }

    h1 {
        font-size: 2.5em;
    }

    .welcome-container,
    .map-container,
    .info-container {
        width: 90%;
    }

    .nameLastseenDiv,
    .imgDescDiv {
        flex-direction: column;
        align-items: flex-start;
    }

    .animalName,
    .lastseen,
    .animalImage,
    .animalDesc {
        flex: none;
        width: 100%;
        text-align: center;
    }

    .animalImage {
        width: 100%!important;
        margin-bottom: 10px;
    }

    .animalDesc {
        padding-left: 0;
    }

    .weatherChart {
        width: 80%;
        height: 80%;
    }


}